{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}
{% block body %}
    <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh; background-color: #f8f9fa;">
        <div class="mb-4">
            <a href="#" class="btn btn-outline-primary me-2">Home</a>
            <a href="#" class="btn btn-outline-primary me-2">Courses</a>
            <a href="#" class="btn btn-outline-primary me-2">Login</a>
            <a href="#" class="btn btn-outline-primary">Join Now</a>
        </div>
    </div>
{% endblock %}
